apiVersion: v1
kind: Service
metadata:
  name: app-service
  namespace: backend
  labels:
    app: myapp
spec:
  type: LoadBalancer
  selector:
    app: myapp
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30080
